body {
  width: 100%;
  height: 100%;
  background-color: #282c34;
  color: white;
}

span {
  margin: 5px;
}

.datePicker {
  margin: auto;
  display: inline-block;
}

button {
  margin-left: 5px;
  display: inline-block;
}

.departureTimes{
  text-align: center;
}
.App {
  width: 100%;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);

}

